#grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    height: fit-content;
    width: 90vh;
}

#grid div {
    width: 6vh;
    height: 6vh;
}

.shooter {
    background-color: blue;
    background: url(defender.png);
}

.invader {
    background-color: purple;
    background: url(Alien.png);
    width: 6vh;
    height: 6vh;
}

img{
    width: 6vh;
    height: 6vh;
}

.boom {
    background-color: red;
}

.laser {
    background-color: orange;
    background: url(laser.png);
}